<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<jaxws:endpoint xmlns:tns="http://pds.nasa.gov/" id="planetarydatasystem"
		implementor="gov.nasa.pds.ws.PlanetaryDataSystem" wsdlLocation="wsdl/planetarydatasystem.wsdl"
		endpointName="tns:PlanetaryDataSystemPort" serviceName="tns:PlanetaryDataSystemService"
		address="/PlanetaryDataSystemPort">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
		<jaxws:properties>
			<entry key="mtom-enabled" value="true"/>
		</jaxws:properties>
	</jaxws:endpoint>

	<context:property-placeholder location="classpath:application.properties"/>
	
	<context:component-scan base-package="gov.nasa.pds" />
	
	<bean id="log4jLogger" class="org.apache.log4j.Logger"
        factory-method="getLogger">
        <constructor-arg value="myLogger" />
    </bean>
	
    <bean id="logger" class="com.topcoder.util.log.log4j.Log4jLog">
        <constructor-arg index="0">
            <value>gov.nasa.pds</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>false</value>
        </constructor-arg>
    </bean>

    <bean id="pooledDataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName">
            <value>${jdbc.driverClassName}</value>
        </property>

        <property name="url">
            <value>${jdbc.url}</value>
        </property>

        <property name="username">
            <value>${jdbc.username}</value>
        </property>

        <property name="password">
            <value>${jdbc.password}</value>
        </property>

        <property name="poolPreparedStatements">
            <value>true</value>
        </property>

        <property name="initialSize">
            <value>2</value>
        </property>

        <property name="maxActive">
            <value>10</value>
        </property>

        <property name="maxIdle">
            <value>2</value>
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="pooledDataSource" />
    </bean>

    <bean id="dataFilesMapping" class="gov.nasa.pds.ws.ResourceMapFactoryBean">
        <property name="resource" value="classpath:${dataSetService.dataFilesMapping}" />
    </bean>

    <bean id="dataSetService" class="gov.nasa.pds.services.impl.JDBCDataSetService">
    	<property name="logger" ref="logger" />
        <property name="jdbcTemplate" ref="jdbcTemplate" />
        <property name="whiteSpotRatingThreshold" value="${dataSetService.whiteSpotRatingThreshold}" />
        <property name="whiteSpotRatingPercentThreshold" value="${dataSetService.whiteSpotRatingPercentThreshold}" />
        <property name="popularQueryRetrievalThreshold" value="${dataSetService.popularQueryRetrievalThreshold}" />
        
        <property name="dataFilesMapping" ref="dataFilesMapping" />
        <property name="previewImagesDirectory" value="${dataSetService.previewImagesDirectory}" />
        <property name="previewImagesURLPrefix" value="${dataSetService.previewImagesURLPrefix}" />
    </bean>

</beans>
